#cardsConteiner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
}
.card{
    color: black;
    width: 100px;
    height: 130px;
    border-style:solid;
    border-color:#464646;
    margin: 20px;
}
.chars{
    color:black;
    margin:5px;
    text-align: center;
}
#cardsInfo{
    display:none;
}
#indexBox{
    margin:0 0;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-color:#464646;
    height: 20px;
}
#charsConteiner{
    display: grid;
    grid-template-columns: auto auto auto;
    padding:10px;
}