table{
    width: 60%;
    margin: 5%;
    margin-left: 20%;
    table-layout: fixed;
    border-collapse:collapse;
    position: relative;
}

thead{
    color:black;
}

thead img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.colord{
    position: sticky;
    top: 141px;
    background-color: lavender;
    box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.4);
}

header {
    display: grid;
    grid-template-columns: 220px auto;
    grid-column-gap: 20px;
    border-radius: 10px;
    background-color: #3b5998;
    margin-top: 100px;
    margin-left: 20%;
    width: 60%;
    height: 220px;
    vertical-align: middle;
  }
  
header img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
  }

header p {
    font-size: large;
    color: #f2f2f2;
}

main section {
    width: 60%;
    margin-left: 20%;
    background-color:  lavender;
    text-align: center;
    box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.4);
}

main section p {
    font-weight: bold;
}