  
  h1{
    font-family: 'Fredoka One', Helvetica, Tahoma, sans-serif;
    color: #fff;
    text-shadow: 1px 2px 0 #7184d8;
    font-size: 3em;
    line-height: 1.1em;
    padding: 5px 0;
    font-weight: normal;
    text-align: center;
  }
  
  #title {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: calc(100% - 800px);
    background: #95a6d6;
    padding: 10px 0;
  }
  
  #page {
    display: block;
    width: 60%;
    margin: auto;
    background: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  }
  
  /** tabela **/
  #tabela {
    display: block;
    border-collapse: collapse;
    font-size: 1.2em;
    color: #444;
    width: 100%;

  }
  #tabela thead th {
    padding: 8px 0;
    font-weight: bold;
  }
  
  #tabela thead th.second {
    width: 25%;
  }
  #tabela thead th.third {
    width: 25%;
  }
  #tabela thead th.fourth {
    width: 25%;
  }
  #tabela thead th.fifth {
    width: 25%;
  }
  
  #tabela tbody td {
    text-align: center;
    margin-top: 4px;
  }
  
  tr.cliente {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #d7dbe0;
  }

  tr.cliente:hover {
    color: #ddd;
  }
  
  
  #tabela tbody td img.thumb {
    vertical-align: middle;
    border: 1px solid #ddd;
    margin-bottom: 4px;
    width: 35px;
    height: 35px; 
  }
    
  .dropdown {
    position: auto;
    display: inline-block;
  }

  .dropbtn {
    background-color: #95a6d6;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #2a4dad;
  }

  .light {
    color: #888b8d;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.45);
    font-size: 1.1em;
    font-weight: normal;
  }
  .thick {
    color: #272727;
    font-size: 1.7em;
    font-weight: bold;
  }