#map {
    position: absolute; 
    height: 91%;
    width: 100%;
    margin-top: 63px;
    z-index: 1;
}

section{
    background-color: white;
    position: absolute;
    width: 15%;
    height: 40%;
    top: 20%;
    left: 1%;
    z-index: 1;
}

#patientsL{
    list-style: none;
    padding:0;
    margin: 10%, auto;
    text-align: center;
}

#patientsL li{
    padding: 5px;
}