body{
    font-family: "Arial", serif;
    font-size: 18px;
    color: #f2f2f2;
    overflow-x: hidden;
    margin:0;
    padding:0;
}
h1{
    float:left;
    vertical-align: middle;
    margin-left: 28px;
}
.navBar{
    top: 0;
    background-color: #59BCBC;
    overflow: hidden;
    width: 100%;
    position: static;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 4;
}
.navBar a{
    float:right;
    text-align: center;
    padding: 28px;
    text-decoration: none;
}

.navBar ul{
    margin: auto;
    list-style: none;
}
.navBar a:hover{
    background-color: #ddd;
    color:#000;
}
