body::-webkit-scrollbar {
    display: none;
}
main{
    position: relative;
    height: 86vh;
    display: grid;
    margin: 10px;
    grid-template-areas: 
        'patientInfo patientEvals'
        'patientEvolution testsInfo';
    grid-gap: 10px;
    grid-template-rows: 270px auto;
    grid-template-columns: 50% 50%;
}
#patientInfoSection{
    color: black;
    grid-area: patientInfo;
    height: 100%;

    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 20px;
}
#patientEvalsSection{
    overflow-y: scroll;
    grid-area: patientEvals;
    border-style:solid;
    border-color:#707070;
    border-width:1px;
    height: 100%;
}
#testsInfoSection{
    grid-area: testsInfo;
    border-style:solid;
    border-color:#707070;
    border-width:1px;
    height: 100%;
}
#patientEvolutionSection{
    grid-area: patientEvolution;
    border-style:solid;
    border-color:#707070;
    border-width:1px;
    height: 100%;
}
.fixed_headers {
    text-align: center;
    position: relative;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    color:black;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    font-size: 1.2vw;
}
th, td {
    padding: 5px 10px;
}
th {
    background: #59A2BC;
    position: sticky;
    top: 0;
}
tr{
    border: solid;
    border-color: #707070;
    border-width: 2px;
}
table tr:nth-child(even){
    background-color: #eee;
}

table tr:nth-child(odd){
    background-color: #fff;
}

tbody tr:hover{
    background:rgb(86, 86, 87);
    color:#FFFFFF;
}